@import url(https://fonts.googleapis.com/css?family=Roboto:900);

.box {
	width: 500px;
	height: 100px;
	margin: 5% auto;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}
.box h1 { font-size: 300%; }
.box i { font-size: 100%; }
#yes { display: none; color: #00bf00; }
#nope { color: #ff0000; }

#list {
	text-align: center;
	margin-top: 3%;
	font-size: 25px;
	font-family: monospace;
}

#list ul li {
	display: inline;
}

#title {
	color: #FFF;
	font-size: 400%;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin-top: 40%;
}


#right {
	width: 50%;
	height: 100%;
	float: right;
	background: #F57F17;
}

#left {
	width: 50%;
	height: 100%;
	float: left;
	background: #0D47A1;
	box-shadow: inset 0 0 1em #000;
}

.keys {
	font-family: monospace;
  margin-top: 40%;
  text-align: center;
  line-height: 8rem;
}

.keys div {
  font-size: 2.4rem;
  display: inline-block;
  padding: 1rem;
  margin: 0 0.5rem;
  height: 4rem;
  width: 4rem;
  line-height: 3.6rem;
  text-align: center;
  vertical-align: bottom;
  color: white;
  border-style: solid;
  border-width: 0.4rem 0.45rem 0.6rem;
  border-radius: 0.8rem;
  border-color: #212121 #212121 #212121 #212121;
  background: #424242;
  -moz-transition: all 80ms ease;
  -o-transition: all 80ms ease;
  -webkit-transition: all 80ms ease;
  transition: all 80ms ease;
}

.keys .pressed {
  border-bottom-width: 0.4rem;
  text-shadow: 0 0 10px white;
}
